<p>
    {{ 'stats-title' | translate }} {{ selectedIndex }}.
</p>

<div class="container-fluid conjunto">
    <div class="row">
        <div class="col-xl-10 col-lg-10 col-md-10 col-xs-10 offset-1 diagrama mb-3">
            <div class="row align-items-center">
                <div class="col-1">
                    <h5 class="card-title mt-3 mb-4 float-left mr-4"> {{ 'stats.filterBar.filters' | translate }} </h5>
                </div>
                <!-- SELECTED FILTERS BLOCK -->
                <div id="fcontainer" class="col-8">
                    <h6 *ngIf="tSeleccionados.length == 0 && aSeleccionados.length == 0" class="card-subtitle text-muted float-left"> {{ 'stats.filterBar.noFiltersAvailable' | translate }} </h6>
                    <div class="row">
                        <span *ngFor="let year of aSeleccionados" class="filtro" (click)="addYear(year)"> {{ year }} <fa-icon class="rfilter float-right" (click)="addYear(year)" [icon]="faTimes"></fa-icon> </span>
                        <span *ngFor="let topic of tSeleccionados" class="filtro" (click)="addTopic(topic)"> {{ topic }} <fa-icon class="rfilter float-right" (click)="addTopic(topic)" [icon]="faTimes"></fa-icon> </span>
                    </div>
                </div>
                <!-- SELECTED FILTERS BLOCK END -->
                <!-- CORPUS TERM SEARCH BAR -->
                <div class="col-3">
                    <form id="tsearch" class="example-form float-right">
                        <mat-form-field class="example-full-width">
                            <input type="text" placeholder="{{ 'stats.searchBar.search' | translate }}" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async | slice:1:6" [value]="option" (click)="anadirTema(option)">
                                    {{ option }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </form>
                </div>
                <!-- CORPUS TERM SEARCH BAR END -->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid conjunto">
    <div class="row">
        <div id="diagramas" class="mr-6 col-xl-5 col-lg-5 offset-xl-1 offset-lg-1 col-md-12 col-xs-12" style="min-height: 200px">
            <!-- DOCUMENTS PER YEAR BAR GRAPH -->
            <div id="cbar" class="mb-3 diagrama">
                <docs-per-year-graph [docs-per-year-list]="listaY" [selected-years-list]="aSeleccionados" (yearWasSelected)="onFilterSelection('YEAR')"></docs-per-year-graph>
            </div>
            <!-- DOCUMENTS PER YEAR BAR GRAPH END -->
            <!-- TOPICS GRAPH -->
            <div id="cbub" class="mb-3 diagrama">
                <topics-graph [topic-list]="listaH" [selected-topic-list]="tSeleccionados" (topicWasSelected)="onFilterSelection('TOPIC')"></topics-graph>
            </div>
            <!-- TOPICS GRAPH END -->
        </div>

        <!-- DOCUMENT TITLE LIST -->
        <div class="col-xl-5 col-lg-5 col-md-12 col-xs-12 rounded" style="min-height: 200px">
            <title-list [total-title-list]="nombres" [filtered-id-list]="idSel" [filtered-title-id-list]="idSelName" (titleWasSelected)="filtroNombre($event)"></title-list>
        </div>
        <!-- DOCUMENT TITLE LIST END -->
    </div>
</div>