.diagrama {
    background-color: rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 0px 21px 1px rgba(128,128,128,1);
    -moz-box-shadow: 0px 0px 21px 1px rgba(128,128,128,1);
    box-shadow: 0px 0px 21px 1px rgba(128,128,128,1);
    height: auto;
    transition: background-color 300ms ease-in-out;
}

.list-container {
    min-height: 400px;
    max-height: 800px;
    width: 90%;
    border: 1px solid gray;
    margin-left: 5%;
    overflow-y: scroll;
}

.diagrama:hover {
    background-color: rgba(255,255,255,1);
    transition: 300ms ease-in-out;
  }

.title:hover {
    cursor: pointer;
    background-color: rgba(93, 191, 252, 0.7);
    transition: all 0.1s ease-in-out;
}

.title {
    margin-top: 5px;
    max-height: 40px;
    background-color: lightgray;
    width: 80%;
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    transition: all 0.1s ease-in-out;
}

.title-selected {
    background-color: rgba(115, 177, 0, 0.7);
}