


<video autoplay muted loop id="myVideo">
  <source src="assets/vid/sketch.mp4" type="video/mp4">
</video>




<div align="center">
<mat-spinner
        class="example-margin"
        [color]="primary"
        [mode]="mode"
        [value]="value"
        *ngIf="!loaded">
</mat-spinner>
</div>
<p *ngIf="!loaded"> Cargando la lista de índices. Un momento... </p>

<div class="container-fluid">
<div class="menucontent row col-8 offset-2 mt-4">
  <div id="presentacion" class="menuap col-6">
  <div class="wrapppp p-3">
    <h4> Bienvenido al servicio web de visualización gráfica de conjuntos de datos. </h4>
    <hr>
    <p> El mundo de la información evoluciona. Nos vemos obligados cada día
        a adaptar nuestra tecnología a la oleada de cantidades de datos
        cada vez más extensas. A la vez que aumenta la necesidad de generar sistemas que 
        aseguren su protección y capacidad de salvaguarda, es necesario el desarrollo
        de nuevos servicios que nos permitan conocer de una manera auxiliar y sencilla
        las características de los conjuntos de información que poseemos.
    </p>
    <p>
        Por ello, este proyecto, desarrollado inicialmente como un Trabajo de Fin de
        Grado, pretende poner de manifiesto las utilidades llevadas por tecnologías web
        que nos permiten analizar nuestros propios corpus documentales, por medio de
        gráficas interactivas.
    </p>
  </div>
  </div>
  <div id="lista" class="menuap col-5">
  <div class="wrapppp p-3">
    <h4> Consulta la lista actual de conjuntos en línea </h4>
 
    <ul class="list-group list-group-flush">
      <li *ngFor="let elem of indices" class="indice list-group-item"><h6 class="float-left"><strong> {{ elem.index }} </strong></h6> <span class="doccount float-right">{{ elem["docs.count"] }} documentos.</span></li>
    </ul>
  <div>
  </div>
</div>
</div>



<!--
<div class="card col-xl-8 col-lg-8 col-md-8 col-xs-8 offset-xl-2 offset-lg-2 offset-md-2">
  <ul class="list-group list-group-flush">
    <li *ngFor="let elem of indices" class="list-group-item"><h6><strong> {{ elem.index }} </strong></h6> {{ elem["docs.count"] }} documentos.</li>
  </ul>
</div>
-->




<!--
<button [routerLink]="['upload']"> Añadir datos </button>
<button [routerLink]="['stats']"> Ver estadísticas </button>
-->
