<!--The content below is only a placeholder and can be replaced.-->

<img class="upmblogo" src="assets/img/upmlogob.png" />

<div style="text-align:center" class="titulo">
    <h1>
        {{ title }}
    </h1>
</div>

<!--
<nav id="navbarr" class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['upload']">Añadir datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['stats']">Visualizar datos</a>
      </li>
    </ul>
  </div>
</nav>
-->

<nav class="container-fluid botonera">
    <div class="row">
        <div id="iniciodiv" (click)="router.navigate([''])" class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 boton border offset-xl-3 offset-lg-2 offset-md-1 offset-sm-1 align-middle p-1 mb-1">
            Inicio
        </div>
        <div id="datosdiv" (click)="router.navigate(['/upload', selectedIndex])" class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-4 boton border ml-sm-1 ml-0 align-middle p-1 mb-1">
            Añadir documentos
        </div>
        <div id="statsdiv" (click)="router.navigate(['/stats', selectedIndex])" class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col-4 boton border ml-sm-1 ml-0 align-middle p-1">
            Visualizar datos
        </div>
    </div>
</nav>





<main (resized)="onResized($event)" [@fadeAnimation]="getRouterOutletState(o)">
    <router-outlet #o="outlet" id="pag"></router-outlet>
</main>

<!--
<nav id="navbar2" class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['upload']">Añadir datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['stats']">Visualizar datos</a>
      </li>
    </ul>
  </div>
</nav>
-->


<footer class="page-footer">
    <p>
        Carlos Pinedo Sánchez <br> Trabajo de Fin de Grado <br> Escuela Técnica Superior de Ingenieros Informáticos <br> Universidad Politécnica de Madrid
    </p>

    <img class="upmflogo" src="assets/img/upmlogo.png" />

</footer>