<!--The content below is only a placeholder and can be replaced.-->



<div style="text-align:center" class="titulo">
  <h1>
    {{ title }}
  </h1>
</div>

<!--
<nav id="navbarr" class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['upload']">Añadir datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['stats']">Visualizar datos</a>
      </li>
    </ul>
  </div>
</nav>
-->

<nav class="container-fluid">
  <div class="row">
    <div id="iniciodiv" class="col-1 boton border offset-4 align-middle p-1">
      Inicio 
    </div>
    <div id="datosdiv" class="col-2 boton border ml-1 align-middle p-1">
      Añadir documentos 
    </div>
    <div id="statsdiv" class="col-1 boton border ml-1 align-middle p-1">
      Visualizar datos 
    </div>
  </div>
</nav>





<main (resized)="onResized($event)" [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet" id="pag"></router-outlet>
</main>

<!--
<nav id="navbar2" class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="#">Menú</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" [routerLink]="['']">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['upload']">Añadir datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['stats']">Visualizar datos</a>
      </li>
    </ul>
  </div>
</nav>
-->


<footer class="page-footer"> 
  <p>
    Carlos Pinedo Sánchez <br>
    Trabajo de Fin de Grado <br>
    Escuela Técnica Superior de Ingenieros Informáticos <br>
    Universidad Politécnica de Madrid
  </p>

</footer>
