



/*
@font-face {
    font-family: Open Sans;
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
*/


@import url('https://fonts.googleapis.com/css?family=Open+Sans');


* {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}


main {
    flex: 1;
    position: relative;
  }


#navbarr {
    display: inline-block;
}

.boton {
    background-color: rgba(255,255,255,0.7);

    font-size: 1rem;

    transition: box-shadow 0.2s ease-in-out;

    cursor: pointer;
}

.boton:hover {
    -webkit-box-shadow: 0px 0px 22px -1px rgba(92,92,92,1);
    -moz-box-shadow: 0px 0px 22px -1px rgba(92,92,92,1);
    box-shadow: 0px 0px 22px -1px rgba(92,92,92,1);

    transition: box-shadow 0.2s ease-in-out;
}

.botonactivo {
    border: 1px solid black;
}

#titulo h1 {
    position: fixed;
}

#dpags {
    /*border: 1px solid blue;*/
    min-height: 700px;
}

#pag {
    position: absolute;
}

footer {
    /*
    position: relative;
    top: 50px;
    width: 100%;
    display: none;
    */
    opacity: 0;
    color: white;
    background-color: rgba(65,65,65,0.7);
}

.upmflogo {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    z-index: -2;
}

.upmblogo {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    opacity: 0.2;
    z-index: -2;
}