<div class="contenedor">
    <h4> Consulta la lista actual de conjuntos en línea </h4>

    <div align="center">
        <mat-spinner class="example-margin" [color]="color" [value]="value" *ngIf="!loaded || loaded == undefined">
        </mat-spinner>
    </div>
    <p *ngIf="!loaded"> Cargando la lista de índices. Un momento... </p>


    <ul id="list" class="list-group list-group-flush">
        <li *ngFor="let elem of indices" class="indice list-group-item rounded" id="li{{ elem.index }}">
            <h6 class="float-left index-name"><strong> {{ elem.index }} </strong></h6> <span class="badge badge-success doccount btn-select" (click)="onSelectIndex(elem.index)">Seleccionar</span><span class="doccount float-right">{{ elem['docs.count'] }} documentos.</span>
        </li>
    </ul>
</div>