<p class="mt-4"> Gestiona los documentos que componen tu corpus desde esta página. </p>

<div class="row mb-4">
    <h3 class="col-md-12 text-center">Conexión al servidor de Elasticsearch:
        <span *ngIf="status == 'OK'" class="badge badge-success"> OK </span>
        <span *ngIf="status != 'OK'" class="badge badge-danger"> ERROR </span>
    </h3>
</div>

<!-- 
<div class="card col-xl-4 col-lg-4 col-md-4 col-xs-4">
  <div class="card-body">
    <h5 class="card-title">Crea un corpus</h5>
    <form [formGroup]="form" (ngSubmit)="onSubmit1(form.value)">
			<input type="text" placeholder="Nombre" id="index" formControlName="index" name="index">

			
			<button type="submit" [disabled]="!conexion" class="btn btn-primary pull-right">Crear</button>
		</form>
  </div>
</div>
-->





<div class="container-fluid conjuntocol-12">

    <div class="row">

        <div class="upap col-xl-5 col-lg-8 col-md-8 col-xs-8 offset-1 mb-4">
            <div class="wrapp p-4">
                <h5> Añade información </h5>
                <p> Sube documentos al corpus testdocs (Único disponible) </p>

                <div id="dropzone" class="col-6 offset-3 mt-4 align-middle rounded" droppable>
                    <h5 id="arrastra" class=""> Arrastra los documentos aquí </h5>
                </div>

                <input type="file" id="inputfile" accept="application/*" (change)="changeListener($event)" multiple>
                <label for="inputfile" class="mt-2 p-3"> Elige los ficheros </label>
            </div>
        </div>


        <div class="upap col-xl-4 col-lg-3 col-md-3 col-xs-3 mb-4 ml-4">
            <div class="wrapp p-4">
                <h5> Cola de almacenamiento </h5>
                <p *ngIf="ficheros.length == 0"> Todavía no se han añadido documentos. </p>

                <table *ngIf="ficheros.length > 0" class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Formato</th>
                            <th scope="col">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let fich of ficheros">
                            <th scope="row">{{ fich.name }}</th>
                            <td> {{ fich.type }} </td>
                            <td>

                                <button (click)="borrarFich(fich)" class="badge badge-danger"> Quitar de la cola </button>

                                <button (click)="procesarSubida(fich)" class="badge badge-info"> Añadir al corpus </button>

                                <mat-progress-bar mode="determinate" value="{{ fich.prog }}"></mat-progress-bar>

                                <span *ngIf="fich.prog == 100" class="badge badge-success">online</span>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

















<button *ngIf="ficheros.length > 1" (click)="procesarSubida(ficheros)" class="btn btn-info"> Añadir todo </button>




<form [formGroup]="form" (ngSubmit)="limpiar()">

    <span *ngIf="id == 1" class="badge badge-dark">El corpus está vacío</span>

    <button *ngIf="id > 1" type="submit" class="btn btn-danger pull-right">Borrar datos del corpus</button>

</form>