<div id="title-list" class="col-xl-9 col-lg-9 col-md-12 col-xs-12 diagrama offset-xl-3 offset-lg-3 pt-2 pb-2" style="min-height: 200px">
    <h5 class="card-title mb-4"> Lista de documentos </h5>
    <form id="nfilter" class="example-form center-block">
        <mat-form-field class="example-full-width">
            <input type="text" [(ngModel)]="searchText" placeholder="Encuentra documentos" aria-label="Number" matInput [formControl]="nFilter">
        </mat-form-field>
    </form>
    <div class="list-container rounded">
        <div *ngFor="let title of totalTitleList | filter : searchText" (click)="selectTitle(title.id)" id="document{{ title.id }}" class="title text-truncate" [ngClass]="{'title-selected': isDocumentIncluded(title)}">
            {{ title.name }}
        </div>

        <!-- TODO: Add spinner for title list loading (LOADING SPINNER COMPONENT TASK) -->

        <!-- TODO: Add correct ngIf condition for error text -->
        <p *ngIf="!totalTitleList.length"> No hay documentos disponibles. </p>
    </div>
</div>